.table-view {
	-fx-background-color: #BD94FF;
	-fx-background-radius: 20;
	-fx-fill: white;
}

.table-view .column-header-background {
	-fx-background-color: #956ED4;
	-fx-background-radius: 30;
	-fx-background-insets: 0 0 10 0;
	-fx-padding: 0 0 10 0;
}

.table-view .column-header, .table-view .filler {
	-fx-size: 40;
	-fx-border-width: 0 0 10 0;
	-fx-background-color: transparent;
}

.table-view .column-header .label {
	-fx-text-fill: white;
}

.rectangle {
	-fx-background-color: #B4EDE3;
	-fx-background-radius: 40;
}

.text-box {
	-fx-background-color: white;
	-fx-background-radius: 100;
	-fx-effect: dropshadow(two-pass-box, #FFB0EA, 4, 10, 2, 3);
}

.transparent {
	-fx-background-color: transparent;
}

.button {
	-fx-background-color: #FFB0EA;
	-fx-background-radius: 100;
}

.view-bikes {
	-fx-text-fill: white;
	-fx-effect: dropshadow(two-pass-box, #BD94FF, 4, 10, 2, 3);
}

.add-bike {
	-fx-text-fill: white;
	-fx-effect: dropshadow(two-pass-box, #FFB0EA, 4, 10, 2, 3);
}

.or {
	-fx-text-fill: white;
	-fx-effect: dropshadow(two-pass-box, #9e1c56, 1, 1, 2, 2);
}

.bike-eco {
	-fx-text-fill: white;
	-fx-effect: dropshadow(two-pass-box, #B4EDE3, 1, 50, 2, 2);
}

.ad-home {
	-fx-text-fill: white;
	-fx-effect: dropshadow(two-pass-box, #FFB0EA, 4, 10, 2, 2);
}

.manage-station-box {
	-fx-background-color: white;
	-fx-background-radius: 100;
	-fx-effect: dropshadow(two-pass-box, #FFB0EA, 4, 10, 2, 3);
}

.manage-bike-box {
	-fx-background-color: white;
	-fx-background-radius: 100;
	-fx-effect: dropshadow(two-pass-box, #B4EDE3, 4, 10, 2, 3);
}